@using FluentBlog.Models
@model FluentBlog.ViewModels.ArchiveViewModel
<environment include="Development">
    <link rel="stylesheet" href="~/lib/editor.md/css/editormd.preview.css"/>
    <script src="~/lib/editor.md/editormd.js"></script>
    <script src="~/lib/editor.md/lib/marked.min.js"></script>
    <script src="~/lib/editor.md/lib/prettify.min.js"></script>
</environment>

<environment exclude="Development">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/yremp/editormd/css/editormd.preview.css"/>
    <script src="https://cdn.jsdelivr.net/gh/yremp/editormd/editormd.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/yremp/editormd/lib/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/yremp/editormd/lib/prettify.min.js"></script>
</environment>

<style>
    .view {
        width: 100%;
        height: 0;
        padding-bottom: 30%;
        overflow: hidden;
    }
</style>

<div class="view">
    <img src=@(Model.Archive.TitleImage ?? Url.Content(Model.DefaultTitleImage)) class="img-fluid card-img-top" alt="photo">
</div>

<div class="card mb-4 shadow">
    <!--主体-->
    <div class="card-body">
        <!--标题-->
        <h3 class="card-title font-weight-bold mb-2 pl-3">
            @{
                @Model.Archive.Title
            }
        </h3>
        <hr>
        <div class="pl-3">
            @{
                for (int i = 0; i < Model.Categories.Count; i++)
                {
                    <span class="pl-0 pr-2 m-0">
                        <a class="btn btn-sm m-0 py-0 @Model.CategoryColors[i]" asp-controller="Home" asp-action="Meta" asp-route-slug="@Model.Categories[i].Slug">@Model.Categories[i].Name</a>
                    </span>
                }
            }
        </div>
        <hr>
        <!-- 文章信息 -->
        <div class="bg-transparent d-flex justify-content-around">
            <span class="text-muted">
                <i class="mi mi-Contact" title="作者"></i> @Model.Author.DisplayName
            </span>
            <span class="text-muted">
                <i class="mi mi-Calendar" title="发表日期"></i> @Model.Archive.Created.ToShortDateString()
            </span>
            <span class="text-muted">
                <i class="mi mi-View" title="阅读次数"></i> @Model.Archive.Views
            </span>
            <span class="text-muted">
                <i class="mi mi-Comment" title="评论数"></i> @Model.Archive.CommentsNum
            </span>
        </div>
        <hr>

        <!--加载动画-->
        <div id="description">
            <div class="progress-cover progress-cover-primary" id="progress-cover">
                <div class="progress progress-medium fluent-position">
                    <span class="progress-span"></span>
                    <span class="progress-span"></span>
                    <span class="progress-span"></span>
                    <span class="progress-span"></span>
                    <span class="progress-span"></span>
                </div>
            </div>

            <textarea style="display: none;">@Model.Archive.Text</textarea>

        </div>
        <!--版权说明-->
        <div class="card-footer bg-transparent justify-content-around">
            <p>
                版权说明：若无另外注明，博客中文章皆为原创，转载请保留文章出处<br>
                本文原址：<a href="@Model.Url">@Model.Url</a>
            </p>
        </div>
    </div>
</div>

@section SecondSidebar{
    <div class="card shadow mb-4 py-2 px-1" id="catalog">
        <div class="card-body pb-0">
                <h5><i class="mi mi-AllApps"></i> 文章目录</h5>
        </div>
        <!--markdown toc-->
        <div class="markdown-body editormd-preview-container py-1 px-1 small" id="toc-container">
            <!--加载动画-->
            <div class="progress-cover progress-cover-primary">
                <div class="progress progress-medium fluent-position">
                    <span class="progress-span"></span>
                    <span class="progress-span"></span>
                    <span class="progress-span"></span>
                    <span class="progress-span"></span>
                    <span class="progress-span"></span>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Tags.Count != 0)
    {
        <div class="card shadow py-2 mb-4">
            <div class="card-body">
                <h5><i class="mi mi-Tag"></i> 文章标签</h5>
                @foreach (var m in Model.Tags)
                {
                    <a class="small" asp-controller="Home" asp-action="Meta" asp-route-slug="@m.Slug"> #@m.Name </a>
                }
            </div>
        </div>
    }
}

@section Scripts{
    <script src="~/js/CustomScript.js"></script>
    <script type="text/javascript">
        $(function() {
            var editormdView = editormd.markdownToHTML("description",
                {
                    path: "lib/editor.md/lib",
                    tocStartLevel: 2,
                    tocContainer: "#toc-container",
                    tocDropdown: false
                });

            document.getElementById("progress-cover").style.display = "none";
        });
    </script>
}